@model IEnumerable<BugTracker.Models.ProjectUser>

@{
    ViewData["Title"] = "Team Members";
    Layout = "_TicketLayout";

    var roles = ViewBag.Roles as List<Role>;
}

<div class="mx-5 my-3">
    <h2>Team Members</h2>
    <div class="pb-2">
        <!-- Search -->
        <form class="d-none d-inline-block form-inline mr-auto mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Create -->
        <a class="btn btn-primary" data-toggle="modal" data-target="#addPeopleModal">
            Add people
        </a>

    </div>
    <div class="card shadow mb-5">
        <div class="table-responsive ">
            <table class="table table-bordered m-0" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @{
                                var role = roles.FirstOrDefault(r => r.RoleId == item.RoleId);
                                if (role != null)
                                {
                                    @role.Title
                                }
                            }
                        </td>
                        <td>
                                @{
                                    if(User.Identity.Name != item.UserEmail)
                                    {
                                        <div>
                                            <a class="btn btn-primary" data-toggle="modal" data-target="#editPeopleModal">
                                                Edit
                                            </a>
                                        </div>
                                    }
                                }
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add People Modal-->
<div class="modal fade" id="addPeopleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add people to @CurrentProjectSingleton.Instance.CurrentProject.Title</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Create New User Form -->
                @{
                    // Create a new instance of ProjectUser for the form
                    var newUser = new BugTracker.Models.ProjectUser();
                }
                @await Html.PartialAsync("_AddPeoplePartial", newUser)
            </div>
        </div>
    </div>
</div>

<!-- Edit People Modal-->
<div class="modal fade" id="editPeopleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>