@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
}

<form method="post" class="card shadow identity">
    <!-- Form for resetting password -->
    <div class="card-header pt-4">
        <!-- Header indicating the purpose of the card -->
        <h2 class="text-center">Enter your email.</h2>
    </div>
    <div class="card-body">
        <!-- Form body -->
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <!-- Display validation errors if there are any -->
        <div class="form-floating mb-3">
            <!-- Email input field -->
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <!-- Label for the email input -->
            <label asp-for="Input.Email" class="form-label"></label>
            <!-- Display validation errors for the email input -->
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <!-- Button to submit the form -->
        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
    </div>
</form>

<div class="row py-1">
    <!-- Link to the login page -->
    <div class="col text-start ml-2">
        <!-- Link to the login page -->
        <a asp-page="./Login">Login</a>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
