@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_IdentityLayout";
}

<form id="account" method="post" class="card shadow identity">
    <div class="card-header pt-4">
        <h2 class="text-center">Login</h2>
    </div>
    <div class="card-body">
        <!-- Displays validation summary -->
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <!-- Email input field -->
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <!-- Password input field -->
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" class="form-label">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <!-- Remember me checkbox -->
        <div class="checkbox ml-4">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <!-- Login button -->
        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    </div>
</form>

<div class="row py-1 bg-white">
    <div class="col text-start ml-2">
        <!-- Forgot password link -->
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
    </div>
    <div class="col text-end mr-2">
        <!-- Create account link -->
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}